@import url("font-awesome.min.css");
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading_container h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #f1db25;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container.heading_center h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*header section*/
.hero_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_bg_box .img-box {
  width: 100%;
}

.hero_bg_box .img-box img {
  min-width: 100%;
  min-height: 100%;
}

.hero_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.35)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35));
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding-bottom: 21px;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_top {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));

  padding: 15px 0;
}

.header_top .contact_link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}






/* Pour un affichage mobile, ajoutez ces styles pour empiler les colonnes */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    text-align: center;
  }

  .contact-col {
    border-right: none;
    padding: 10px 0; /* Espace entre les colonnes */
  }
}
#navbarSupportedContent {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 0;
  padding: 35px 15px 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}



a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */

.slider_section .detail-box {
 margin-top: 160px ;
 margin-right: 30px;
 margin-left: 699px;
  background-color: transparent;
  color: #ffffff;
width: 1000px;
  padding: 10px 35px;
}






.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 70px;
}

.slider_section .detail-box .btn-box a {
  width: 239px;
  text-align: center;
  margin: 9px;
}



.slider_section .detail-box .btn-box .btn-2 {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
  display: inline-block;
  padding: 10px 35px;
 margin-left: 39px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid ;
}



.slider_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .img-box img {
  width: 100%;
}




.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img_container .img-box img {
  width: 100%;
}

.about_section .detail-box {
  background-color: #ffffff;
  padding: 45px 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-left: -45px;
}

.about_section .detail-box h5 {
  margin-top: 5px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}



.service_section {
  background-color: rgb(15, 46, 63)
}

.service_section .heading_container {
  color: #ffffff;
}

.service_section .box {
  background-color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin-top: 45px;
}

.service_section .box .img-box svg {
  width: 75px;
  height: auto;
  fill: #1c1c1c;
}

.service_section .box .detail-box {
  margin-top: 25px;
}

.service_section .box .detail-box h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service_section .box .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 10px;
}

.service_section .box .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}



/* contact section */
.contact_section {
  position: relative;
  color: #ffffff;
  background-color: transparent;
}

.contact_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
         
}

.contact_section .contact_form-container {
  margin-top: 35px;
}
::placeholder{
  text-align: center;
}

.contact_section .contact_form-container input {
  
  border: none;
  outline: none;
  color: #f6ad11;
  height: 45px;
  width: 100%;
  margin: 15px 0;
  padding-left: 15px;
  background-color: transparent;
  border: 1px solid yellow;
}



.contact_section .contact_form-container input.message_input {
  height: 120px;
}

.contact_section .contact_form-container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.contact_section .contact_form-container button {
  display: inline-block;
  padding: 10px 60px;
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid yellow;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_section .contact_form-container button:hover {
  background-color: rgb(221, 172, 9);
  border-color: #f1db25;
  color: black;
}

.contact_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_bg_box .img-box {
  width: 100%;
}

.contact_bg_box .img-box img {
  min-width: 100%;
  min-height: 100%;
}

.contact_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 46, 63)
  }

/* end contact section */
/*  info section */
.info_section {
  background: linear-gradient(135deg, #055b95, #e0b60c);
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

.info_logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.info_info h5 {
  font-size: 24px;
  margin-top: 20px;
}

.info_contact a {
  color: #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  padding: 10px;
  width: 500px;
  border-radius: 5px;
}

.info_contact a:hover {
  background-color:transparent;
  color: #f0e9e9;
  transform: scale(1.05);

}






/* footer section*/
.footer_section {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: rgb(15, 46, 63)
}

.footer_section p {
  color: rgba(254, 254, 255, 0.7);
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: rgba(254, 254, 255, 0.7);
}

/* end footer section*/

#retourHaut {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */